.aje-card {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
  border-radius: 5px;
  color: $aje-secondary-color;

  .header-title {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .aje-card-input {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    input {
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: 30px;
      height: 40px;
    }
    i {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translate(0,-50%);
    }
  }
  .aje-card-footer {
    margin-top: 40px;
    button {
      background-color: $aje-secondary-color;
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    a {
      color: $aje-secondary-color;
      font-size: 14px;
    }
    .aje-footer-link {
      display: flex;
      justify-content: space-between;
    }

  }

}

.aje-login-card-align {
  margin-top: 50px;
  @media screen and (min-width: 991px) {
    float:right; transform: translate(0px,-25vh);    
  }
}