div.kt-aside__brand-logo a{
    font-size: 12pt;
    font-weight: bold;
    color: #f0f0f6;
}

span.top-menu {
    margin-left: 10px;
}

div.kt-portlet__body {
    padding: 10px !important;
}
div.task-status {
    vertical-align: middle;
    font-size: 12pt;
}
div.task-name {
    font-weight: 500;
    font-size: 10pt;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
div.final-sub-task-name {
    font-size: 10pt;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
}
div.project-name {
    font-size: 7pt;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div.kt-portlet__head-label  button.header-btn {
    margin-left: 10px;
}

div.person-tag {
    text-align: right;
}

div.task-start-date, div.task-end-date {
    font-size: 8pt;
    letter-spacing: 2px;
}

div.kt-regular-task-item {
    padding: 10px;
    border-radius: 3px;
    margin: 1.6rem 0.6rem;
    -webkit-box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: white;
}

div.kt-regular-task-item:hover {
    background: #e8e8e8;
    transition: all 0.5s ease;
}

div.kt-regular-task-item:active {
    background: #d8d8d8;
    transition: all 0.2s ease;
}

div.selected{
    background: #e8e8e8 !important;
}

div.parent_selected{
    background: #e8e8e8 !important;
}

div.fat {
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 8px solid;
}

div.medium {
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 4px solid;
}

div.thin {
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
}

div.danger {
    border-color: #fd397a;
}

div.danger div.task-name {
    color: #fd397a;
}

div.kt-item-date {
    height: 17px;
}

.kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
    padding-top: 65px;
}

.kt-header {
    -webkit-box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

div.kt-extended-task-item {
    border: 1px solid #bfbfbf;
    margin: 1.6rem 0.6rem;
    background: #fefcf8;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

div.kt-extend-part {
    padding: 10px;
    border-radius: 3px;
    margin: 1.6rem 0.6rem;
    -webkit-box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: white;
}

div.kt-extended-task-item div.kt-extend-part {
    margin: 0rem 0rem;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

div.extand-main-content {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: -8px;
    margin-top: -3px;
}

div.extand-below-content {
    padding: 10px 0px 10px 20px;
}

.triangle {
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 14px 24px 14px;
    border-color: transparent transparent #646c9a transparent;
    transform:rotate(0deg);
    border-radius: 3px 3px;
}

.triangle span {
    text-align: center;
    width: 0px;
    height: 0px;
    margin: 0px;
    transform:rotate(0deg);
    color: #ffffff;
    font-weight: bold;
    position: relative;
    left: -5px;
    top:7px;
}

.triangle-icon {
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 12px 21px 13px;
    border-color: transparent transparent #646c9a transparent;
    transform:rotate(0deg);
    border-radius: 3px 3px;
    margin-top: -4px !important;
}

.triangle-icon span {
    text-align: center;
    width: 0px;
    height: 0px;
    margin: 0px;
    transform:rotate(0deg);
    color: #ffffff;
    font-weight: bold;
    position: relative;
    left: -5px;
    top:5px;
}

span.kt-badge--default {
    background: #646c9a;
    color: #ffffff;
    font-weight: bold;
}

div.task-extand-description {
    margin-top: 7px;
}

div.task-extand-description-left {
    text-align: left;
    font-size: 9pt;
}

div.task-extand-description-right {
    text-align: right;
    font-size: 9pt;
}

div.kt-extended-task-item:hover .kt-extend-part, div.kt-extended-task-item:hover{
    background: #e8e8e8;
    transition: all 0.5s ease;
}

div.selected .kt-extend-part {
    background: #e8e8e8;
}

div.kt-extended-task-item:not(.selected):active .kt-extend-part, div.kt-extended-task-item:active {
    background: #d8d8d8;
    transition: all 0.2s ease;
}

div.task-extand-add {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

div.task-expense-add {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

div#kt_final_sub_task {
    display: none;
}

div.kt-simple-task-item {
    padding: 6px;
    border-radius: 3px;
    margin: 1.6rem 0.6rem;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: white;
}

div.kt-simple-task-item:hover {
    background: #e8e8e8;
    transition: all 0.5s ease;
}

div.kt-simple-task-item:active {
    background: #d8d8d8;
    transition: all 0.2s ease;
}

div.kt-quick-panel {
    width: 625px !important;
}

.kt-quick-panel--right .kt-quick-panel {
    right: -625px;
    left: auto;
}

.detail-infomation-content {
    padding: 0px 20px 10px 20px;
}

.detail-budget-content {
    padding: 0px 20px 10px 20px;
}

.detail-information-staus {
    margin-top: 30px;
}

.detail-information-task-name, .detail-budget-task-name, .detail-statistics-task-name {
    font-size: 16pt;
    font-weight: bold;
    margin-top: 10px;
}

.detail-information-staus-title {
    font-size: 8pt;
}

.detail-information-staus-content, .detail-information-person-content, .detail-information-priority-content
, .detail-information-weight-content {
    font-size: 14pt;
}

.detail-information-tags {
    margin-top: 20px;
}

.detail-information-task-date {
    margin-top: 30px;
    border-top: 1px solid;
    border-bottom:  1px solid;
    padding-top: 30px;
    padding-bottom: 30px;
}

.detail-income-content, .detail-expense-content {
    margin-top: 30px;
    border-top: 1px solid;
    padding-top: 20px;
}

.detail-edit p {
    margin-top: auto;
    margin-bottom: auto;
}

.detail-content {
    color: black;
    letter-spacing: 1px;
}

.detail-label {
    letter-spacing: 2px;
    margin-top: auto;
    margin-bottom: auto;
}

.detail-information-description {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom:  1px solid;
}

.detail-information-task-memos {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom:  1px solid;
}

.detail-information-task-budget {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom:  1px solid;
}

.detail-information-task-memos .row {
    margin-top: 15px;
}

.detail-information-task-attachments {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom:  1px solid;
}

.detail-add {
    display: none;
}

.detail-edit {
    display: none;
}

.col-task-extended {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}

.col-task-regular {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}

.col-task-simple {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}

.content-calendar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
    position: relative;
    width: 100%;
}

.calendar-filter {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
    width: 100%;
    padding-left: 5px;
    height: 100vh;
}

.calendar-box {
    padding: 30px 10px 10px 10px;
}

.content-task {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
    position: relative;
    width: 100%;
}

.col-detail-add {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    width: 100%;
    padding-left: 5px;
}

div.kt-portlet__head-actions {
    margin-top:auto;
    margin-bottom:auto;
}

div.detail-budget-dashboard .row {
    font-size: 12pt;
    margin-top: 10px;
    letter-spacing: 1px;
}

div.detail-budget-dashboard .balance {
    font-size: 13pt;
    padding-top: 15px;
    padding-bottom: 5px;
    border-top: 1px solid;
    letter-spacing: 2px;
    color: #c69393;
}

div.detail-statistics-content {
    padding: 0px 20px 10px 20px;
}

.statistics-content {
    color: black;
    letter-spacing: 1px;
    font-size: 10pt;
}

.statistics-label {
    letter-spacing: 2px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 10pt;
}

.statistics-row {
    margin-top: 10px;
}

.list-card {
    width: 100%;
    min-height: 90vh;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
     box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    background-color: #ffffff;
}
.list-card .list-head {
    display: flex;
    border-bottom: solid 2px #b3b1c2;
    justify-content: space-between;
}
.list-card .list-header-title {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 18px;
    color: #464e74;
}
.list-card .list-nav-tab {
    margin: 0 0 0 0;
}

.list-card .system-tag {
    color:  black;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
}

.list-card .system-tag .selected{
    background-color: lightblue;
}
.system-span {
    padding: 5px;
}

.organization-span {
    padding: 5px;
    border-radius: 10px;
}

.personal-span {
    padding: 5px;
    border-radius: 10px;
    border: solid 2px;
}

.list-card .color-picker {
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.list-card .custom-span {
    font-size: 16px;
    color: lightskyblue;
}


.color-check-box {
    display: block;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 2px;
}

.color-check-box input {
    position: absolute;
    z-index: 99;
    opacity: 0;
    cursor: pointer;
    height: 15px;
    width: 15px;
}
.color-check-box:hover input ~ .checkmark {
    background-color: #ffffff;
}

.color-check-box .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.color-check-box input:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    content:"";
    position:absolute;
    display: none;
}
