.aje-testimonial {
  color: $aje-secondary-color;
  font-size: 28px;
  font-style: italic;
  .aje-name-text {
    font-size: 18px
  }
}
.aje-avatar {
  margin-top: 20px;
  border-radius: 50%;
  border: 2px solid $aje-secondary-color;
  width: 90px;
  height: 90px;
}