.aje-nav-link {
  color: $aje-text-color;
  font-size: 18px;

  &:hover {
    background-color: white;
    color: $aje-secondary-color;
    border-radius: 2px;
    margin: 8px;
    padding: 7px;
  }
}

.aje-navbar {
  background-color: $aje-color;
  padding: 10px 0 10px 0;
  .navbar-toggle {
    color: white;
    font-size: 18px;
  }
}

